<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note APP</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div id="top-bar">
        <a href="/">
            <h1 id="title">NOTE <span>APP</span></h1>
        </a>
        <a href="/sign-in"><input type="button" name="login" class="bar-input" id="login-input" value="Sign In"></a>
        <a href="/sign-up"><input type="button" name="register" class="bar-input" id="register-input"
                value="Sign Up"></a>
    </div>
    <div id="home-div">
        <img src="task-list.png" alt="task-list-png">
        <p>Note app project is the first backend I wrote myself. It is an application that handles user registration,
            login, and manages their note system.</p>
    </div>

</body>

</html>