<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note's'</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div id="top-bar">
        <a href="/">
            <h1 id="title">NOTE <span>APP</span></h1>
        </a>
        <a href="/sign-in"><input type="button" name="login" class="bar-input" id="login-input" value="Sign In"></a>
        <a href="/sign-up"><input type="button" name="register" class="bar-input" id="register-input"
                value="Sign Up"></a>
    </div>
    <div id="notesdiv">
        <div class="note"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium a at ex cum nostrum eaque
            pariatur quam voluptas tenetur cumque temporibus, quod deserunt ullam, qui rerum nulla deleniti vero ratione
            officia? Quaerat tenetur amet enim ipsam. Quia ab facere officiis dicta corporis cupiditate, odit, provident
            eveniet molestias incidunt esse atque?</p></div>
        <div class="note">
            <p>...</p>
        </div>
        <div class="note">
            <p>...</p>
        </div>
        <div class="note">
            <p>...</p>
        </div>
    </div>

</body>

</html>